:root {
    --bgcolor: #F4F6F1;
    --header-text-color: #F4F6F1;
    --body-text: #222021;
    --bgcolor-dark: #222021;
    
    --spacing1: 8px;
    --spacing2: 16px;
    --spacing3: 24px;

    --small-text: 16px;
    --regular-text: 20px;
    --large-text: 32px;
    --header-text: 40px;
}

/* Typography */


body {
    font-family: Helvetica;
    font-size: var(--regular-text);
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: var(--header-text);
}

h2{
    font-weight: bold;
    font-size: var(--large-text);
}

h3 {
    font-weight: italic;
    font-size: var(--small-text);
}

/* Color */

header {
    background-color: var(--bgcolor-dark);
    color: var(--header-text-color);
}

body {
    background-color: var(--bgcolor);
    color: var(--body-text);
}

footer {
    background-color: var(--bgcolor-dark);
    color: var(--header-text-color);
}

aside {
    background-color: var(--bgcolor);
    color: var(--body-text);
}

/* Spacing */
body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: var(--spacing1);
    width: 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    margin: 0;
    padding: var(--spacing1);
    width: 100%;
}

aside {
    margin: 0;
    padding: 0;
}
/* Nav */

nav {
    background-color: #363636
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

nav a {
    display: inline-block;
    color: var(--header-text-color);
    text-decoration: none;
}

/* Reusable Components */

.card {
    padding: var(--spacing3);
    background-color: var(--bgcolor-dark);
    color: var(--header-text-color);
}

button[type="submit"] {
    display: inline-block;
    padding: var(--spacing1);
    background-color: var(--bgcolor-dark);
    color: var(--header-text-color);
    border: none
} 

button[type="submit"]:hover {
    background-color: black;
}

button[type="submit"]:focus {
    outline: 3px solid var(--bgcolor-dark);
    outline-offset: 2px;
}

@media (max-width: 700px) {
    aside {
        float: none;
        width: 100%;
        margin: 0 0 var(--spacing2);
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: var(--spacing2) auto;
}

th, td {
    padding: var(--spacing1);
    border: 1px solid var(--body-text);
    text-align: center;
}

